<html>
	<head>
		<title>MIDAS Lab</title>
		
		<link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		<nav class="navbar fixed-top navbar-expand-lg  navbar-dark">
			<div class="site-header-inner">
				<div class="brand header-brand">
					<h1 class="m-0">
					<a href="#">
						<img class="header-logo-image" src="https://lh3.googleusercontent.com/proxy/Ej89q5bvwrv9zzTNOiffchfm6IcNaeso5-iQCzuVT8KSK-3StmGK9_lwY9l1iEDjulTKq5fzvTLO7W0hrCdIfXkcG_z3ra-PPpGsuKm3IJfJ_6QaxdTs0Q" width="60" alt="Logo">
					</a>
					</h1>
				</div>
			</div>
			<a class="navbar-brand pl-3 pr-5" href="#"><strong>MIDAS IIITD</strong></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/home" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Home
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/home" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Pages
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/home" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Services
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/home" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Blog
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home">Contacts</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
			<% } %>
			<% if(success && success.length > 0){ %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
			<% } %>
		</div>